.cultures p {
  font-family: Georgia, "Times New Roman", Times, serif;
}
h2 {
  text-align: center;
  color: black;
  font-size: 4rem;
  margin-top: 10px;
}
.img {
  display: flex;
  gap: 60px;
  justify-content: center;
  margin-top: 40px;
}
.img1,
.img2,
.img3,
.img4 {
  width: 200px;
  height: 300px;
}
.greeting {
  font-size: 1.6rem;
  margin: 50px;
  line-height: 30px;
}
.greeting p {
  font-family: Georgia, "Times New Roman", Times, serif;
  margin-top: 10px;
}
.greeting li {
  margin-left: 100px;
  line-height: 50px;
  list-style: circle;
  font-size: 20px;
  font-family: Georgia, "Times New Roman", Times, serif;
}
.injeras {
  text-align: center;
  font-size: 40px;
}
.injera {
  display: flex;
  gap: 40px;
  margin: 30px;
  font-size: 20px;
  line-height: 25px;
}
